@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
:root {
  --red: #d01c28;
  --gray: #2e2e2e;
}
* {
  margin: 0;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}

button {
  all: unset;
  padding: 6px 16px;
  background: var(--red);
  height: 32px;
  color: #fff;
  font-weight: 500;
  border-radius: 7px;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}
.text {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: blue;
}

.hero {
  display: flex;
  align-items: center;
  height: calc(100vh - 90px);
}
.hero_content {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.hero h1 {
  font-weight: 900;
  font-size: 108px;
  line-height: 102px;
}

.hero p {
  font-weight: 600;
  color: var(--gray);
  max-width: 400px;
}
.hero_btn {
  display: flex;
  gap: 40px;
}
.hero_btn button {
  font-size: 24px;
}
.secondry_btn {
  background: transparent;
  color: var(--gray);
  border: 1px solid gray;
}
.Shopping {
  font-size: 14px;
  margin-bottom: 8px;
}
.brand_icons {
  display: flex;
  gap: 16px;
  margin-top: 10px;
}

.active {
  color: red;
}
.container_section {
  max-width: 980px;
  margin: 0 auto;
}

.container_section h1 {
  font-size: 48px;
  font-weight: 800;
  max-width: 80%;
}
.container_section p {
  font-weight: 500;
}
.contact_part {
  display: flex;
  margin: 0 auto;
  max-width: 980px;
}
.primary_btn {
  /* padding: 10px 8px; */
  background: #000;
  color: #fff;
  min-width: 210px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  justify-content: center;
}
.top_btn {
  display: flex;
  gap: 32px;
  margin-top: 20px;
}
.line_btn {
  /* padding: 10px 8px; */
  color: #000;
  background: #fff;
  border: 1px solid black;
  min-width: 290px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  justify-content: center;
  width: 94%;
}
.contact_form {
 display: flex;
 flex-direction: column;
 gap: 24px;
 position: relative;
 margin-top: 20px;
}
.form_control {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form_control input {
  height: 40px;
  padding: 0 8px;
}
.form_control label {
  position: absolute;
  margin-top: -12px;
  margin-left: 10px;
  padding: 0 10px;
  background: #fff;
}
.contact_form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.submit_btn {
  display: flex;
  justify-content: end;
}
.submit_btn button {
background: #000;
color: #fff;
width: 30%;
align-items: center;
justify-content: center;
display: flex;

}
.main_com {
  display: flex;
  /* height: calc(100vh -90px); */
  flex-direction: column;
  justify-content: end;
  margin-top: 30px;
}
.container_section {
  max-width: 980px;
  margin: 0 auto;
}
/* .last_img {
  margin-bottom: 20px;
} */

